@font-face {
    font-family: fontText; 
    src: url("../font/Roboto-Regular.ttf"); 
}

@font-face {
    font-family: fontButton; 
    src: url("../font/Roboto-Medium.ttf");
}

body, html {
    height: 100%;
}

body {
    font-family: fontText;
    background-color:#EFEFF1;
    margin: 0;
    padding: 0;
    justify-content: center;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
}


.wrapper{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    min-height: 600px;;
    max-width:500px;
    background-color: white;
    color: #515151;
    overflow: auto;
    display: flex;
    flex-direction: column;
    cursor: default;
    user-select: none;
}

/* основная часть */
#containerButton{
    height: 70px;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: 0px 3px 15px rgb(230, 230, 230);
}

.innerContainer{
    height: 70px;
    width: 33.33%;
}

.number{
    padding: 5px;
    text-align: center;
    font-size: 2em;
    width: 80px;
    height: 40px;
    margin: auto;
}

.textGame{
    font-size: 0.9em;
    text-align: center;
    width: 85px;
    height: 20px;
    margin: auto;
}

#containerWinGame{
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
}

#containerOptions{
    height: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    border-radius: 2px;
}

.containerSwitch {
    height: 40px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.textSwitch {
    text-align: center;
    padding-top: 5px;
}

.tag {
    text-align: center;
    height: 25px;
    width: 45px;
    border-radius: 15px;
    color: white;
    background-color:#FF6736;
    margin-right: 10px;
    padding-top: 5px;
}

#tagOge{
    background-color:#FFBB02;
}

#tagAll{
    font-size: 0.9em;
    background-color:#6DB0FF;
}

#allGame{
    text-align: center;
    padding: 8px;
    border-radius: 15px;
    margin: auto;
    color: white;
    background-color:#6DB0FF;
    display: flex;
    flex-direction: row;
}

.switch {
    text-align: center;
    height: 25px;
    width: 45px;
    border-radius: 15px;
    padding-top: 5px;
    margin-left: auto;
    font-weight: bold;
}

.text {
    font-family: fontButton;
    border-bottom: 1px solid #EBEBEB;
    text-align: center;
    height: 20px;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 5px auto;
}

.containerText{
    display: flex;
    flex-direction: row;
}

/* визуализация статистики */
.statText {
    width: 295px;
    height: 20px;
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    color: black;
}

.statBack{
    border-radius: 5px;
    height: 5px;
    width: 300px;
    background-color:#B5D7FE;
}

.statFront {
    border-radius: 5px;
    height: 5px;
    width: 30%;
    background-color:#6DB0FF;
}

/* достижения */
#containerAchievements{
    height: 25%;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    border-radius: 2px;
}

#achievements{
    display: flex;
    flex-direction: column;
}

.achievementCard{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
}

.achievementCardImg{
    border-radius: 5px;
    width: 55px;
    height: 55px;
    margin: auto;
    cursor: pointer;
    background-size: cover;
}

#achievementHint{
    width: 100%;
    height: 25px;
    text-align: center;
    font-size: 0.9em;
    color: rgb(177, 177, 177);
}

.achievementblock{
    border-radius: 5px;
    width: 55px;
    height: 55px;
    background-image: url(../images/icons/lock.svg);
    background-color: rgba(0, 0, 0, 0.6);
}

#achievementFirst{
    background-image: url(../images/achievements/boots.png);
}
#achievementComplete{
    background-image: url(../images/achievements/dart.png);
}
#achievementAllPersons{
    background-image: url(../images/achievements/group.png);
}
#achievementGame{
    background-image: url(../images/achievements/oneHundred.png);
}
#achievementMaster{
    background-image: url(../images/achievements/stars.png);
}

/* окно подтверждения очистки данных */
dialog {
    color: #515151;
    font-size: 1.1em;
    border: none;
    border-radius: 15px;
    max-width:300px;
    background-color:white;
    margin-top: auto; /* 15em */
    margin-bottom: auto;
}

#buttonYes {
    border-radius: 20px;
    text-align: center;
    height: 30px;
    padding-top: 0.5em;
    border: 2px solid #6DB0FF;
    cursor: pointer;
}

#buttonYes:hover {
    color: white;
    background-color: #6DB0FF;
}

#buttonNo {
    margin-top: 10px;
    border-radius: 20px;
    text-align: center;
    height: 30px;
    padding-top: 0.5em;
    color:white;
    background-color: #6DB0FF;
    border: 2px solid #6DB0FF;
    cursor: pointer;
}

#windowUpText {
    text-align: center;
    height: 30px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

/* окно с достижением */
#windowUpAchievement {
    user-select: none;
    color: #515151;
    border: none;
    width:200px;
    height:321px;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    font-size: 0.8em;
}

#titleAchievement{
    font-size: 2em;
    text-align: center;
    padding-top: 5px;
    height:45px;
    border-bottom: 1px solid #EBEBEB;
}

#achievementImg{
    text-align: center;
    margin: auto;
    margin-top: 10px;
    height:130px;
    width: 130px;
    background-size: cover;
}

#achievementText{
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 15px;
    margin-top: 15px;
}

#achievementTextStatus{
    padding: 5px;
    font-size: 1.1em;
    text-align: center;
    width: 140px;
    color: white;
    margin: 12px auto;
    border-radius: 20px;
}

#buttonClose{
    font-family: fontButton; 
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
    width: 130px;
    color: white;
    background-color: #6DB0FF;
    margin: auto;
    border-radius: 20px;
    cursor: pointer;
}
/* меню */
#menu {
    background-color:white;
    height: 65px;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    box-shadow: 0px -3px 15px rgb(230, 230, 230);
}

.buttonMenu {
    color: #6DB0FF;
    height: 65px;
    width: 65px;
    margin: auto;
    text-align: center;
    cursor: pointer;
}

.imgMenu{
    height: 40px;
    width: 40px;
    background-size: cover;
    margin: auto;
}
#testshadow{
    box-shadow: 0px 5px 10px rgb(109 176 255);
}
#imgDuel{
    background-image: url(../images/icons/swordsDisable.svg);
}
#imgDuel:hover{
    background-image: url(../images/icons/swords.svg);
}
#imgPersons{
    background-image: url(../images/icons/personsDisable.svg);
}
#imgPersons:hover{
    background-image: url(../images/icons/persons.svg);
}
#imgStat{
    background-image: url(../images/icons/statistics.svg);
}
#imgOption{
    background-image: url(../images/icons/optionDisable.svg);
}
#imgOption:hover{
    background-image: url(../images/icons/option.svg);
}

/* изменение элементов для разных разрешений экрана */

@media (min-height: 2160px) {
    .wrapper {
        height: 1600px;
    }
}

@media (max-width: 355px) {
    .statBack{
        width: 230px;
    }
    .tag{
        width: 40px;
    }
    .textSwitch{
        font-size: 0.8em;
    }
    #achievementHint{
        font-size: 0.7em;
    }
}

@media (min-width: 355px) and (max-width: 480px) {
    .statBack {
        width: 280px;
    }
}